<div class="search-container">
  <input type="search" class="searchtext" placeholder="Enter country name" #searchInput id="searchcountry" name="searchcountry">

  <input type="button" class="searchbutton" value="search" (click)="onButtonclick(searchInput)" >

</div>

<div class="output-containers">
  <div class="box">Capital:{{capital}}</div>
  <div class="box">population:{{population}}</div>
  <div class="box">position<br>
  longitude:{{longitude}}
<br>
latitude:{{latitude}}</div>
<div class="box">Currency:{{currency}}</div>
<div class="box">Flag:<img id="image" src="{{flag}}"></div>

</div>

